.loginpopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    
  }
  
  /* The actual popup (appears on top) */
  .loginpopup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;

  }

.event-details {
  width: 60vw;
}
  
