


.navbar{
    margin-left: 10px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

.notification {
    border: none ;
    background-color: none;
    cursor: pointer;
}

.pic{
    margin-left: 10px;
}