body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(188, 32, 32, 0.1), 0 1px 2px 0 rgba(0,0,0,.06);
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.col-sm-12{
    width: 100px;
}

.pic {
    outline: none;
    border: none;
}

.changepassword{
    background-color: #1100fe; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    display: flex;
    min-width: 0;
    border-radius: .25rem;
    width: 100px;
    text-decoration: none;
}

.edit {
    background-color: #4CAF50; /* Green */
    text-decoration: none;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    display: flex;
    min-width: 0;
    border-radius: .25rem;
    width: 55px;
}

.submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    display: flex;
    min-width: 0;
    border-radius: .25rem;
    width: 80px;
}



pic:hover{
    outline: #d278b6;    
}
.card-body {
    flex: 1 1 auto;
    min-height: 10px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.shadow-none {
    box-shadow: none!important;
}