.popup {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.popupinner {
    position:relative;
    width: 50vw;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 10vh;
    padding-left: 10vh;
    max-width: 75%;
}

.close {
    position: absolute;
    top: 75%;
    right: 25%;
}

.inner-text {
    height: 70vh;
    width: 70vw;
    text-align: cente;
}


/* .description-box {
    height: 40%;
    position: relative;
} */
