.todobefore{
  margin-top: 10px;
  margin-left: 100px;
  position: fixed;
  width: 72%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: .25rem;
  text-align: center;
}
.delete{
  float: right;
  padding: 0;
  border: none;
  background: none;  
  
}
.top{
  height: 60px;
  font-size: large;
  text-align: center;
  padding: 11px 0;
}
.todoprogress{
  margin-top: 10px;
  margin-left: 30%;
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: .25rem;
  text-align: center;
}
.todocomplete{
  margin-top: 10px;
  margin-left: 53%;
  position: fixed;
  width: 22%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: .25rem;
  text-align: center;
}

.members{
  margin-top: 10px;
  margin-left: 79%;
  position: fixed;
  width: 20%;
  height: 40%;
  background-color: #f1f1f1;
  border-radius: .25rem;
  text-align: center;
  position: absolute;
}

.teamchat{
  margin-top: 21%;
  margin-left: 79%;
  position: fixed;
  width: 20%;
  height: 44%;
  background-color: #f1f1f1;
  border-radius: .25rem;
  text-align: center;
  position: absolute;
}

h4{
  text-align: center;
}