* {
    margin-right: 0;
    padding: 0;
    overflow-x: hidden;
}

#container {
    /* margin-left: 75vw; */
    height: 100%;
    margin-top: 0%;
    background-color: #f1f1f1;
}

#header{
    background-color: #0d6efd;
    text-align: center;
    padding: 2.5%;
    overflow-y: hidden;
    border-radius: .25rem;
}

#task_box {
    padding-left: 1cm;
}

.Description {
    padding-left: .5cm;
    color: rgb(78, 70, 70);
}

.New_Task {
    border: solid;
    width: 25vw;
}

.task-add-button {
    align-items: left;
    text-align: left;
    margin-left: 1vw;
}

.task {
    align-items: left;
    text-align: left;
    margin-left: 1vw;
}