.Welcome-page {
    padding-top: 25vh;
}

.Welcome-img {
    display: flex;
    justify-content: center;
}

.Welcome-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
}

.Welcome-buttons {
    text-align: center;
}