.Welcome-page {
    text-align: center;
    height: 100vh;
    display: flex;
   
}

.Welcome-img {
    display: flex;
    justify-content: center;
}

.Welcome-header {
    color:blueviolet;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
}

.Welcome-buttons {
    text-align: center;
}